{% extends "teacher_base.html" %}
{% block title %}Trash Bin - TestPoint{% endblock %}

{% block content %}
<div class="animate__animated animate__fadeIn">
    <h1 class="h3 mb-4 text-gray-800">Deleted Exams</h1>
    {% for course_name, course_exams in exams|groupby('course_name') %}
    <div class="mb-4">
        <h5 class="font-weight-bold text-secondary">{{ course_name }}</h5>
        <div class="row">
            {% for exam in course_exams %}
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card shadow h-100 border-0">
                    <div class="card-body">
                        <h5>{{ exam.title }}</h5>
                        <div class="row mt-3">
                            <div class="col-6"><form action="{{ url_for('teacher.restore_exam', exam_id=exam.exam_id) }}" method="POST"><button class="btn btn-success btn-sm btn-block">Restore</button></form></div>
                            <div class="col-6"><button class="btn btn-outline-danger btn-sm btn-block" data-toggle="modal" data-target="#permDeleteModal" data-id="{{ exam.exam_id }}">Destroy</button></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}