{% extends "teacher_base.html" %}
{% block title %}Question Bank - TestPoint{% endblock %}

{% block content %}
<div class="animate__animated animate__fadeIn">
    <h1 class="h3 mb-4 text-gray-800">Master Question Bank</h1>
    <div class="row">
        {% for course in courses %}
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ course.course_code }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ course.course_name }}</div>
                            <div class="mt-2 small text-muted font-italic">{{ course.question_count }} Questions</div>
                        </div>
                        <div class="col-auto">
                            <a href="{{ url_for('teacher.course_question_bank', course_code=course.course_code) }}" class="btn btn-danger btn-circle btn-lg">
                                <i class="fas fa-folder-open"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}